body{
    overflow-x: hidden;
    margin: 0;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5px;
    height: 100vh;
    box-sizing: border-box;
}
.hero .content{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 35px;
    text-transform: capitalize;
}
.hero .content h1{
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px  ;
}
.hero .content h3{
    font-size: 1.5rem;
    margin:6px 0px;
  
}
.hero .content h2{
    font-size: 2rem;
    margin: 15px 0px 5px;
}
.hero img{
    width: 40%;
    margin-left:50px ;
}
.hero .content p{
   text-align: left;
 
}
.content .socialmedia{
    /* background-color: antiquewhite; */
   margin:10px 0px ;
}
.content .socialmedia i{
    transition: .3s ease;
    font-size: 2.5rem;
    margin-right:15px ;
    cursor: pointer;
}
.content .socialmedia .bx:hover {
    color: orangered;
    transform: scale(1.1);
    
}
.tags{
    position: absolute;
    right: 0;
    top: 40%;
    width: 50px;
    box-shadow: 0px 0px 10px rgb(172, 172, 172);
    border-radius: 8px 0px 0px 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;
    transform: translateX(100%);
}

.tags i{
    margin:10px 0px;
    cursor: pointer;
}
.about-me {
    position: relative;
    left: 10%;

}
.about-me .con{
    display: flex;
    gap: 3rem;
    margin: 5px;
    padding: 5px;
    width: 80%;
}
.con img{
   width: 40%;
}
.con h1{
    margin: 5px;
 }
.con .details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
@media only screen and (max-width: 900px) {

    .hero .content{
        height: 100%;
        width: 80%;
        position: absolute;
        display: flex;
        
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0px;
        text-transform: capitalize;
        backdrop-filter: blur(5px);
    }
    
.hero .content h1{
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px  ;
    text-align: left;
}
.hero .content h3{
    font-size: 1rem;
    margin:6px 0px;
}
.hero .content h2{
    font-size: 1.5rem;
    margin: 15px 0px 5px;
    text-align: left;
}
.hero img{
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
}

}
section{
    margin: 5px;
    position: relative;
    top: 50px;
}
section h1{
    font-size: 2.5rem;
    margin-bottom: 50px;;
}
.ins{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    width: 100%;
    gap: 1.5rem;
    
}
.ins p{
    margin: 0;
    padding: 2px;
   
}
.ins p strong{
   color: rgb(255, 42, 0);
   margin-right: 5px;
}
.ins button {
    margin-top: 15px;
    background-color: #fd6524;
    color: #fff;
    padding: 10px 15px;
    width: 50%;
    text-align: center;
    border: 2px solid white;
    border-radius: 8px;
    font-size: large;
    cursor: pointer;
    transition: width 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
    box-sizing: border-box;
}

.ins button i {
    opacity: 0;
    position: relative;
    font-size: 1.2rem;
    top: 2.5px;

    transition: opacity 0.5s ease;
}

.ins button:hover {
    background-color: #f06a3d;
    box-shadow: 0px 0px 8px rgb(234, 86, 32);
    width: 53%;
}

.ins button:hover i {
    opacity: 1;
}
