.skills{
    display: flex;
    justify-content: space-between;
   
}
.skills .sub-1{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills .stats{
    margin: 5px;
    flex: 1;
}
.main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(10%);
}